<!DOCTYPE HTML>

<html>

<head>
	<title>Fabian Martinez Web Developer</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="static/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<div id="wrapper">
		<div id="bg"></div>
		<div id="overlay"></div>
		<div id="main">


			<header id="header">
				<h1>Fabian Martinez</h1>
				<p>Jr.Python Developer &nbsp;&bull;&nbsp; Flask &nbsp;&bull;&nbsp; HTML , CSS, Javascript</p>
				<nav>
					<ul>

						<li><a href="https://www.facebook.com/fabian.martinez.9674227"
								class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>

						<li><a href="https://github.com/elfabito?tab=repositories" class="icon brands fa-github"><span
									class="label">Github</span></a></li>
						<li><a href="mailto:elfabito@gmail.com?subject='I want to hire you!'"
								class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</nav>
			</header>


			<footer id="footer">
				<span class="copyright">&copy; Flask. Template Design: <a
						href="https://www.linkedin.com/in/fabian-martinez-developer/">Jr.Python Developer</a>.</span>
			</footer>

		</div>
	</div>
	<script>
		window.onload = function () { document.body.classList.remove('is-preload'); }
		window.ontouchmove = function () { return false; }
		window.onorientationchange = function () { document.body.scrollTop = 0; }
	</script>
</body>

</html>